.row{
    padding: 2rem;
    right: -200px;
}
@media (min-width: 992px){
    .row{
        position: relative;
        top: 0.5%;
    }
}
@media (max-width: 992px){
    .row{
        background: #f8f9fa;
    }
}
.search-slt{
    height: calc(2rem + 2px) !important;
    border-radius:0;
}

.wrn-btn{
    height: calc(2rem + 2px) !important;
    border-radius:0;
}